In [11]:
import pandas as pd
import numpy as np

In [17]:
fields=pd.read_csv('data/fields.csv')
crops_variety=pd.read_csv('data/crops_variety.csv')
inputs=pd.read_csv('data/inputs.csv')

In [12]:
clients=np.sort(fields['Client'].unique())
clients

array(['Arcadia Ag', 'Bart Webster', 'Bob Mortenson', 'Crapo Farms',
       'David Schwendiman Farms', 'David and Stan Schwendiman',
       'Dobson Ranches', 'Dogson Ranches', 'Erickson',
       'Foster Land and Cattle', 'Grand Teton Organics', 'John Sharp',
       'Keith Wilcox', 'Parkinson Foundation Seed', 'Parkinson Seed Farm',
       'Russel Schwendiman Farms', 'Schwendiman Farms',
       'Schwendiman Farms Inc', 'Stan Schwendiman Farms', 'TWR',
       'Teton Organics', 'Val Schwendiman Farms', 'Webster Inc',
       'Western Ag'], dtype=object)

In [18]:
crop='Barley'
varieties=np.sort(crops_variety[crops_variety['crop']==crop]['variety'].unique())
varieties

array(['Conrad', 'Growler', 'Harrington', 'Metcalfe', 'Voyager'],
      dtype=object)

In [19]:
fields

,Client,Farm,Field,acres,senTile,unq_fldid,type,elevation,utm_zone,name,state
0,Foster Land and Cattle,North Slope,15,132.813965,12TVP,3,active,easternIdaho_32612,32612.0,flc_ns_15,ID
1,Keith Wilcox,Madison,Brown 6,113.536456,12TVP,4,active,easternIdaho_32612,32612.0,NaN,ID
2,Erickson,Herbert,1 without corners,147.928080,12TVP,5,active,easternIdaho_32612,32612.0,erk_herb_1nc,ID
3,Keith Wilcox,Madison,Moss,71.069268,12TVP,6,active,easternIdaho_32612,32612.0,NaN,ID
4,Parkinson Foundation Seed,Ellis,Pivot 6,126.380687,11TQK,1,active,salmon_32611,32611.0,NaN,ID
...,...,...,...,...,...,...,...,...,...,...,...
520,Western Ag,Bauers,Eddies,70.618378,NaN,604,active,NaN,NaN,NaN,ID
521,Teton Organics,Bauers,Eddies,36.252223,NaN,605,active,NaN,NaN,NaN,ID
522,Grand Teton Organics,Bauer's,Miss Ski,295.945254,NaN,607,active,NaN,NaN,NaN,ID
523,Western Ag,Bauers,Bores on,69.689770,NaN,608,active,NaN,NaN,NaN,NaN
524,Bart Webster,NaN,6,141.673909,12TVP,609,active,easternIdaho_32612,32612.0,NaN,ID